
<h1>Iniciá sesionn</h1>

<form method="post">
    <label>E-mail</label>
    <input type="text" name="email" placeholder="E-mail" class="form-control" />
    <label>Password</label>
    <input type="password" name="password"  class="form-control" />
    <button class="btn btn-primary">
        Iniciar Sesion
    </button>
</form>

<h2 class="text-danger">
    @ViewData["MENSAJE"]
</h2>
